body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  height: 150px;
  width: 1885px;
  align: left;
  background-image: url("./banner.psd")
}

.collapsible {
    align: center;
    color: white;
    font-size: 50px;
    margin-left: 700px;
    background-color: black;
    cursor:pointer;
  }

 div h3 {
   text-align: center;
   color: #ffff9d;
 }
